@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.navbar{
  background-color: #61dafb;
  padding: 5px;
}
.homepage{
  background-color: #ececec;
}

.container {
  display: grid;
  grid-template-columns: 0.9fr 4fr 1.4fr; /* 3 equal columns */
  width: 100%;
  height: 100vh;
}

/* You can also style the individual components if needed */
.side-panel {
  background-color: #ffffff;
  padding: 10px;
}

.main-panel {
  background-color: #f1f6ff;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius:1rem;
}

.activity-panel {
  background-color: #ffffff;
  padding: 10px;
}

.logo-container {
  display: flex; /* Use flexbox to arrange children side by side */
  align-items: center; /* Center children vertically */
}

.logo-background {
  width: 30px; /* Set the width of the circular background */
  height: 30px; /* Set the height of the circular background */
  background-color: #0074d9; /* Background color for the circular background */
  border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
  display: flex; /* Use flexbox to center content */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

.logo {
  font-size: 18px; /* Set the font size for the "C" */
  color: #fff; /* Text color */
}

.logo-name {
  font-size: 18px; /* Set the font size for the "CLOUDY" text */
  margin-left: 10px; /* Add some margin to separate the logo and text */
  color: #0074d9; /* Text color */
}
.add-file{
  margin-top: 10px;
  background-color:#edf4ff ;
  padding-left: 10px;
  display: flex;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-between;
}
.file-add-icon{
  width: 40px; /* Set the width of the circular background */
  height: 40px; /* Set the height of the circular background */
  background-color: #0074d9; /* Background color for the circular background */
  border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
  display: flex; /* Use flexbox to center content */
  align-items: center; /* Center content vertically */
  justify-content: center; 
  margin-right: 10px;
  border:  1px solid rgb(243, 248, 255);
  box-shadow: 1px 5px 8px #DBD8FE;
}
.add{
  color: white;
}
hr{
  margin-top: 20px;
  border-color: #fbfaff;
  border-width: 0.5px;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

button {
  margin-top: 10px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button.active {
  background-color: #edf4ff;
  color: #0074d9;
  font-weight: 600;
  border-radius: 8px;
}

.storage-analytics p{
  color: #167dd1;
  font-size: 13px;
}
span{
  font-weight: 700;
  color: #0267c0;
}
.storage-progress{
  height: 10px;
  background-color:#e1e7f0 ;
  border-radius: 20px;
}
.storage-progress-value{
  height: 100%;
  width: 80%;
  background-color: #F85E83;
  border-radius: 20px;
}
.devider{
  margin-top: 20px;
  height: 1px;
  background-color: #e4e4e4;
}
.upgrade-container{
  margin-top: 20px;
  background-color: #edf4ff ;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.folder-image{
  padding: 5px;
  width: 40px;
}
.upgrade-container p{
  color: #167dd1;
  font-size: 13px;
  text-align: center;
}
.premium-button{
  margin:10px 5px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 400;
  background-color: #097fe6;
}